/* mobile */

#main_header {
  width: 100%;
  text-align: center;
}

#main_header .container {
  width: 100%;
}

#main_header h1 {
  position: relative;
  font-size: 20px;
}

#gnb {
  position: relative;
  width: 100%;
  height: 40px;
  background: #ee8d96;
  text-align: center;
}

#gnb a {
  display: block;
  line-height: 40px;
  font-size: 13px;
}

#gnb > ul > li {
  float: left;
  /* 메뉴 크기 100% / 메뉴 개수 */
  width: 20%;
  margin: 0;
}

#visual .container {
  width: 100%;
}

#visual .title-group {
  position: absolute;
  width: 70%;
  top: 60%;
  transform: translateY(-50%);
  text-transform: uppercase;
  padding: 15px;
  letter-spacing: 0.05em;
  font-size: 16px;
}

#visual .title-group h2 span{
  font-size: 40px;
}

#about {
  height: auto;
  padding: 100px 20px;
  overflow: hidden;
}
#about h2{
  font-size: 20px;
}
#about p{
  font-size: 16px;
}

#about .photo > img {
  margin-bottom: 50px;
  width: 100%;
}



#skill{
  padding: 20px;
  padding-top: 40px;
  padding-bottom: 80px;
  background: #ECECEC;
  /* height: 690px; */
}

#skill img {
  width: 100%;
}

